:root {
  --surface: #fef7ff;
  --surface--container: #f3edf7;
  --white: #ffffff;
  --primary-container: #e8def8;
  --on-primary-container: #4f378a;
  --secondary: #625b71;
  --secondary-container: #e8def8;
  --on-secondary-container: #625b71;

  width: 100vw;
  height: 100vh;
  min-width:  100vw;
  min-height: 100vh;
  /* height: calc(100vh - 90px); */
  /* overflow: hidden; */
}
